{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="az-signin-wrapper">
      <div class="az-card-signin">
        <!-- <h1 class="az-logo">az<span>i</span>a</h1> -->
        <div class="az-signin-header">
          <h2>
            Quản lý Trang bị CNTT cấp 1
          </h2>
          <h4>
            {% if msg %}
              <span class="text-danger">
                {{ msg | safe }}
              </span> 
            {% else %}
                Lớp Hệ thống thông tin
            {% endif %} 
          </h4>

          <form role="form" method="post" action="">

            {% csrf_token %} 

            <div class="form-group">
              <label>Tên đăng nhập</label>
              {{ form.username }}
            </div><!-- form-group -->
            <div class="form-group">
              <label>Mật khẩu</label>
              {{ form.password }}
            </div><!-- form-group -->

            <button type="submit" name="login" class="btn btn-az-primary btn-block">Đăng nhập</button>
          </form>

        </div><!-- az-signin-header -->
        <div class="az-signin-footer">
          <p>Nếu bạn chưa có tài khoản? <a href="{% url 'register' %}">Đăng ký</a></p>
          <br />
          <!-- <p>
            &copy; <a target="_blank" href="https://bit.ly/2UTgih5">BootstrapDash.com</a> 
            - coded by <a target="_blank" href="https://appseed.us">AppSeed</a>            
          </p> -->
        </div><!-- az-signin-footer -->
      </div><!-- az-card-signin -->
    </div><!-- az-signin-wrapper -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
