{% extends "layouts/base-fullscreen.html" %}

{% block title %} Register {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="az-signup-wrapper">
      <div class="az-column-signup-left">
        <div>
          <i class="typcn typcn-chart-bar-outline"></i>
          <h1 class="az-logo" style="text-transform: uppercase">QLTB</h1>
          <h5>Hệ thống quản lý trang bị CNTT cấp 1</h5>
          <p style="text-align: justify;">Hệ thống cung cấp cơ sở hạ tầng nền tảng cho việc quản lý và kiểm soát các tài sản công nghệ thông tin trong tổ chức. Hệ thống này giúp tổ chức theo dõi, bảo trì và cập nhật các thiết bị, phần mềm, và tài nguyên kỹ thuật số một cách hiệu quả. Điều này đảm bảo hiệu suất hoạt động liên tục và ổn định, tăng cường bảo mật dữ liệu và giảm thiểu rủi ro mất mát hay hư hỏng tài sản. Đồng thời, việc quản lý hiệu quả giúp tối ưu hóa chi phí và cải thiện khả năng ra quyết định thông qua thông tin chi tiết và báo cáo đầy đủ.</p>
        </div>
      </div><!-- az-column-signup-left -->
      <div class="az-column-signup">
        <h1 class="az-logo" style="text-transform: uppercase">QLTB</h1>

        <div class="az-signup-header">
          <h2>Đăng ký</h2>
          
          <h4>
              <span class="mb-0 text-muted">
                  {% if msg %}
                      {{ msg | safe }}
                  {% else %}
                      Nhập thông tin của bạn
                  {% endif %} 
              </span>          
          </h4>

          {% if success %}

            <a href="{% url 'login' %}" class="btn btn-az-primary btn-block">Đăng nhập</a>

          {% else %}

            <form role="form" method="post" action="">

              {% csrf_token %}

              <div class="form-group">
                <label>Tên đăng nhập</label>
                {{ form.username }}
              </div><!-- form-group -->
              <span class="text-error">{{ form.username.errors }}</span>

              <div class="form-group">
                <label>Mật khẩu</label>
                {{ form.password1 }}
              </div><!-- form-group -->
              <span class="text-error">{{ form.password1.errors }}</span>

              <div class="form-group">
                <label>Nhập lại mật khẩu</label>
                {{ form.password2 }}
              </div><!-- form-group -->            
              <span class="text-error">{{ form.password2.errors }}</span>

              <button type="submit" name="register" class="btn btn-az-primary btn-block">Tạo tài khoản</button>

            </form>
        
          {% endif %}

        </div><!-- az-signup-header -->
        <div class="az-signup-footer">
          <p>Sẵn sàng sử dụng tài khoản? <a href="{% url 'login' %}">Đăng nhập</a></p>
        </div><!-- az-signin-footer -->
      </div><!-- az-column-signup -->
    </div><!-- az-signup-wrapper -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
