{% extends "layouts/base.html" %}

{% block title %} Trang chủ {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- vendor css -->
    <link href="{{ ASSETS_ROOT }}/lib/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="{{ ASSETS_ROOT }}/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="{{ ASSETS_ROOT }}/lib/typicons.font/typicons.css" rel="stylesheet">
    <link href="{{ ASSETS_ROOT }}/lib/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">

    <!-- azia CSS -->
    <link rel="stylesheet" href="{{ ASSETS_ROOT }}/css/azia.css">

    <div class="az-content az-content-dashboard">
      <div class="container">
        <div class="az-content-body">
          <div class="az-dashboard-one-title">
            <div>
              <h2 class="az-dashboard-title">Xin chào!</h2>
              <p class="az-dashboard-text">Hệ thống quản lý trang bị CNTT cấp 1</p>
            </div>
            <div class="az-content-header-right">

            </div>
          </div><!-- az-dashboard-one-title -->

          <div class="az-dashboard-nav"> 
            <nav class="nav">
              <a class="nav-link {% if request.GET.tab|default:'tongquan' == 'tongquan' %}active{% endif %}" data-toggle="tab" href="#tongquan">Tổng quan</a>
              {% if perms.home.view_trangbi %}<a class="nav-link {% if request.GET.tab == 'trangbi' %}active{% endif %}" data-toggle="tab" href="#trangbi">Trang bị</a>{% endif %}
              {% if perms.home.view_nhanvien %}<a class="nav-link {% if request.GET.tab == 'nhanvien' %}active{% endif %}" data-toggle="tab" href="#nhanvien">Nhân viên</a>{% endif %}
              {% if perms.home.view_bangiao %}<a class="nav-link {% if request.GET.tab == 'bangiao' %}active{% endif %}" data-toggle="tab" href="#bangiao">Bàn giao</a>{% endif %}
              {% if perms.home.view_suachua %}<a class="nav-link {% if request.GET.tab == 'suachua' %}active{% endif %}" data-toggle="tab" href="#suachua">Sửa chữa</a>{% endif %}
            </nav>

            <nav class="nav">
              <a class="nav-link" href="{% url 'export_report' %}"><i class="far fa-save"></i> Lưu báo cáo</a>
              <!-- <a class="nav-link" href="#"><i class="far fa-file-pdf"></i> Xuất báo cáo PDF</a> -->
              <a class="nav-link" href="#"><i class="fas fa-ellipsis-h"></i></a>
            </nav>
          </div>

          <div class="tab-content">
            <div class="tab-pane fade {% if request.GET.tab|default:'tongquan' == 'tongquan' %}show active{% endif %}" id="tongquan">
              <!-- Nội dung của tab Tổng quan -->
              <div class="row row-sm mg-b-20">
                <div class="col ht-lg-100p">
                  <div class="card card-dashboard-one">
                    <div class="card-header">
                      <div>
                        <h6 class="card-title">Hiện trạng Trang bị CNTT</h6>
                        <!-- <p class="card-text">Audience to which the users belonged while on the current date range.</p> -->
                      </div>
                      <!-- <div class="btn-group">
                        <button class="btn active">Day</button>
                        <button class="btn">Week</button>
                        <button class="btn">Month</button>
                      </div> -->
                    </div><!-- card-header -->
                    <div class="card-body">
                      <div class="card-body-top">
                        {% if perms.home.view_trangbi %}
                        <div>
                          <label class="mg-b-0 mg-t-5">Máy tính cá nhân</label>
                          <h2>{{ trang_bi_list.so_luong_laptop }}</h2>
                        </div>
                        <div>
                          <label class="mg-b-0 mg-t-5">Máy tính để bàn</label>
                          <h2>{{ trang_bi_list.so_luong_pc }}</h2>
                        </div>
                        <div>
                          <label class="mg-b-0 mg-t-5">Thiết bị mạng</label>
                          <h2>{{ trang_bi_list.so_luong_thietbimang }}</h2>
                        </div>
                        {% endif %}
                        {% if perms.home.view_nhanvien %}
                        <div>
                          <label class="mg-b-0 mg-t-5">Nhân viên</label>
                          <h2>{{ nhan_vien_list|length }}</h2>
                        </div>
                        {% endif %}
                      </div><!-- card-body-top -->
                      <div class="flot-chart-wrapper mg-t-50">
                        <!-- <div id="flotChart" class="flot-chart"></div> -->
                      </div><!-- flot-chart-wrapper -->
                    </div><!-- card-body -->
                  </div><!-- card -->
                </div><!-- col -->
    
              </div><!-- row -->
            </div>

            {% include 'home/trangbi.html' %}
            {% if perms.home.view_nhanvien %}{% include 'home/nhanvien.html' %}{% endif %}
          
            {% include 'home/bangiao.html' %}
            {% include 'home/suachua.html' %}

            <div class="tab-pane fade" id="khac">
              <!-- Nội dung của tab Khác -->
              <div class="row row-sm mg-b-20">
                Nội dung Khác
              </div>
            </div>


        </div><!-- az-content-body -->
      </div>
    </div><!-- az-content -->

{% endblock content %}

<!-- Page JS Plugins goes HERE  -->
{% block plugin_javascripts %}

    <script src="{{ ASSETS_ROOT }}/lib/jquery.flot/jquery.flot.js"></script>
    <script src="{{ ASSETS_ROOT }}/lib/jquery.flot/jquery.flot.resize.js"></script>
    <script src="{{ ASSETS_ROOT }}/lib/chart.js/Chart.bundle.min.js"></script>
    <script src="{{ ASSETS_ROOT }}/lib/peity/jquery.peity.min.js"></script>

{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="{{ ASSETS_ROOT }}/js/chart.flot.sampledata.js"></script>
    <script src="{{ ASSETS_ROOT }}/js/dashboard.sampledata.js"></script>
    
{% endblock javascripts %}
